.v{
    max-width: 600px; margin: auto; padding-bottom: 30px
}
.b{
    display: flex;
          flex-direction: column;
          max-width: 45%;
          border: solid rgb(8 0 255 / 40%);
          border-radius: 50px;
}
.main{
    display: flex;
    column-gap: 30px;
    justify-content: center;
}
@media screen and (max-width:490px) {
    .main{
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .b{
        max-width: 90%;
        margin: auto;
    }
    .v{
        max-width: 90%;
    }
    .x{
        margin-bottom: 10px;
    }
}